### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [154]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [155]:
school_count = school_data["school_name"].value_counts().sum()

students_total = student_data["student_name"].value_counts().sum()

total_budget =school_data["budget"].sum()


math_score = round(student_data["math_score"].mean(),3)

reading_score=round(student_data["reading_score"].mean(),3)

student_len = len(student_data["student_name"])

math_passing = student_data.loc[student_data["math_score"] >=70 ,:]

math_passing_len= len(math_passing["student_name"])
percentage_math =f" {math_passing_len/student_len:.3f}"


reading_passing = student_data.loc[student_data["reading_score"] >=70 ,:]
reading_passing_len= len(reading_passing["student_name"])
percentage_reading = f"{reading_passing_len / student_len:.3f}"


math_reading_passing = student_data.loc[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70) , :]
math_reading_len = len(math_reading_passing["student_name"])
math_reading_percentage = f"{math_reading_len / student_len:.3f}"


summery_df = pd.DataFrame({"Total Schools":[school_count],
"Total Students":[students_total],
"Total Budget":[total_budget],
"Average Math Score":[math_score],
"Average Reading Score":[reading_score],
"% Passing Math":[percentage_math],
"% Passing Reading":[percentage_reading],
"% Overall Passing":[math_reading_percentage]})

summery_df["Total Budget"]=summery_df["Total Budget"].map("{:,}".format)
summery_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"24,649,428",78.985,81.878,0.750,0.858,0.652

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [198]:
school_type = school_data.set_index("type")

schools_counts= school_data_complete["school_name"].value_counts()

grouped_school_name =school_data_complete.groupby(['school_name'])


total_school_budget =grouped_school_name["budget"].mean()
per_student_budget = round(total_school_budget / schools_counts,2)
per_student_budget

average_math = grouped_school_name["math_score"].mean()

average_reading=grouped_school_name["reading_score"].mean()

math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
passing_math =round( math.groupby(["school_name"]).count()["student_name"] / schools_counts*100,2)

read= school_data_complete.loc[school_data_complete["reading_score"] >= 70]
passing_read = round(read.groupby(["school_name"]).count()["student_name"] / schools_counts*100,2)

math_reading =school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
passing_math_reading =round(math_reading.groupby(["school_name"]).count()["student_name"]/schools_counts*100,2)






school_summery = pd.DataFrame({"Total students":school_names,
"Total School Budget":total_school_budget,
"Per Student Budget":per_student_budget,
"Average Math Score":average_math,
"Average Reading Score":average_reading,
"% Passing Math":passing_math,
"% Passing Reading":passing_read,
"% Overall Passing":passing_math_reading})

school_summery["Total School Budget"] = school_summery["Total School Budget"].map("{:,}".format)
school_summery.head(10)

,Total students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,4976,"3,124,928",628.0,77.048432,81.033963,66.68,81.93,54.64
Cabrera High School,1858,"1,081,356",582.0,83.061895,83.975780,94.13,97.04,91.33
Figueroa High School,2949,"1,884,411",639.0,76.711767,81.158020,65.99,80.74,53.20
Ford High School,2739,"1,763,916",644.0,77.102592,80.746258,68.31,79.30,54.29
Griffin High School,1468,"917,500",625.0,83.351499,83.816757,93.39,97.14,90.60
Hernandez High School,4635,"3,022,020",652.0,77.289752,80.934412,66.75,80.86,53.53
Holden High School,427,"248,087",581.0,83.803279,83.814988,92.51,96.25,89.23
Huang High School,2917,"1,910,635",655.0,76.629414,81.182722,65.68,81.32,53.51
Johnson High School,4761,"3,094,650",650.0,77.072464,80.966394,66.06,81.22,53.54
Pena High School,962,"585,858",609.0,83.839917,84.044699,94.59,95.95,90.54

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [157]:
top_five_df = school_summery.sort_values("% Overall Passing", ascending=False)
top_five_df.head(5)

,Total students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,1858,"1,081,356",582.0,83.061895,83.975780,11660.00,12020.00,91.33
Thomas High School,1635,"1,043,130",638.0,83.418349,83.848930,10166.67,10606.67,90.95
Griffin High School,1468,"917,500",625.0,83.351499,83.816757,9140.00,9506.67,90.60
Wilson High School,2283,"1,319,574",578.0,83.274201,83.989488,14286.67,14693.33,90.58
Pena High School,962,"585,858",609.0,83.839917,84.044699,6066.67,6153.33,90.54

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [158]:
bottom_five_df = school_summery.sort_values("% Overall Passing")
bottom_five_df.head(5)

,Total students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,3999,"2,547,363",637.0,76.842711,80.744686,17693.33,21386.67,52.99
Figueroa High School,2949,"1,884,411",639.0,76.711767,81.158020,12973.33,15873.33,53.20
Huang High School,2917,"1,910,635",655.0,76.629414,81.182722,12773.33,15813.33,53.51
Hernandez High School,4635,"3,022,020",652.0,77.289752,80.934412,20626.67,24986.67,53.53
Johnson High School,4761,"3,094,650",650.0,77.072464,80.966394,20966.67,25780.00,53.54

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [159]:
# math_value = groupby(["school_name"]).mean()["math_score"]

math_9th = school_data_complete.loc[school_data_complete["grade"] == "9th" ]
math_9th_grade = round(math_9th.groupby(["school_name"]).mean()["math_score"],2)

math_10th = school_data_complete.loc[school_data_complete["grade"] == "10th" ]
math_10th_grade = round(math_10th.groupby(["school_name"]).mean()["math_score"],2)

math_11th = school_data_complete.loc[school_data_complete["grade"] == "11th" ]
math_11th_grade =round( math_11th.groupby(["school_name"]).mean()["math_score"],2)

math_12th = school_data_complete.loc[school_data_complete["grade"] == "12th" ]
math_12th_grade = round(math_12th.groupby(["school_name"]).mean()["math_score"],2)

math_grades_df = pd.DataFrame({"9th":math_9th_grade,
"10th":math_10th_grade,
"11th":math_11th_grade,
"12th":math_12th_grade})
math_grades_df

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [160]:
reading_9th = school_data_complete.loc[school_data_complete["grade"] == "9th" ]
reading_9th_grade = round(reading_9th.groupby(["school_name"]).mean()["reading_score"],2)

reading_10th = school_data_complete.loc[school_data_complete["grade"] == "10th" ]
reading_10th_grade = round(reading_10th.groupby(["school_name"]).mean()["reading_score"],2)

reading_11th = school_data_complete.loc[school_data_complete["grade"] == "11th" ]
reading_11th_grade =round( reading_11th.groupby(["school_name"]).mean()["reading_score"],2)

reading_12th = school_data_complete.loc[school_data_complete["grade"] == "12th" ]
reading_12th_grade = round(reading_12th.groupby(["school_name"]).mean()["reading_score"],2)

math_grades_df = pd.DataFrame({"9th":reading_9th_grade,
"10th":reading_10th_grade,
"11th":reading_11th_grade,
"12th":reading_12th_grade})
math_grades_df

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [219]:
 grouped_school_name =school_data_complete.groupby(['school_name'])
total_school_budget =grouped_school_name["budget"].mean()
total_school_budget
budget_per_student = total_school_budget/ schools_counts
budget_per_student
average_math = grouped_school_name["math_score"].mean()
average_reading=grouped_school_name["reading_score"].mean()
read= school_data_complete.loc[school_data_complete["reading_score"] >= 70]
 read.head()
passing_read = read.groupby(["school_name"]).count()["student_name"]/school_names*100
math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
passing_math =round( math.groupby(["school_name"]).count()["student_name"] / school_names*100,2)
math_reading =school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
passing_math_reading =round(math_reading.groupby(["school_name"]).count()["student_name"]/schools_counts*100,2)



budget_per_sctudent_df = pd.DataFrame({"budget per student":budget_per_student,"math average":average_math,"reading average":average_reading,"passing math":passing_math,"passing reading":passing_read,"overall passing":passing_math_reading})
budget_per_sctudent_df

bins = [0,585,630,645,680]
label_group = ["$<585","$585-630","$630-645","$645-680"]
budget_per_sctudent_df["student budget"] = pd.cut(budget_per_sctudent_df["budget per student"], bins,labels=label_group, include_lowest=True)
budget_per_sctudent_df
budget_per_sctudent_df.set_index(["student budget"], inplace = True, 
                    append = True, drop = True) 

student_budget_df = budget_per_sctudent_df.sort_values("student budget")
student_budget_df.head()


# student_budget_group = budget_per_sctudent_df.groupby(["student budget"])
# math_budget = student_budget_group["math average"].mean()
# math_average.head()






# passing_read.head()
# # passing_math_average = passing_math.groupby["school_name"].mean()
# #passing_math.head()
# # bins = [0,585,630,645,680]


# # total_school_budget["Average math score"] = pd.cut(total_school_budget["math_score"], bins,include_lowest=True)

,,budget per student,math average,reading average,passing math,passing reading,overall passing
school_name,student budget,,,,,,
Cabrera High School,$<585,582.0,83.061895,83.975780,94.13,97.039828,91.33
Holden High School,$<585,581.0,83.803279,83.814988,92.51,96.252927,89.23
Wilson High School,$<585,578.0,83.274201,83.989488,93.87,96.539641,90.58
Wright High School,$<585,583.0,83.682222,83.955000,93.33,96.611111,90.33
Bailey High School,$585-630,628.0,77.048432,81.033963,66.68,81.933280,54.64

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208